$fontcolor-yellow: #dddd21fd;
$fontcolor-blue: #5383ecfd;
$fontcolor-dark: #302519;
$background-1: #302519;
$background-2: #F7FAC5;
$background-3: #E1EF42;
$background-4: #EAEEA4;
$background-5: #F5F3E5;

.navbar-dark {
    background-color: $background-1;
}

.jumbotron {
    background: $background-2;
    padding: 10px;
}

.navbar-brand {
    img {
        max-height: 30px;
        max-width: 30px;
    }
}

.input-group-prepend {
    span,label {
        background-color: $background-2;
    }
}
.input-group-append {
    span,label {
        background-color: $background-2;
    }
}

.footer {
    img {
        max-height: 140px;
        max-width: 140px;
    }
}

.text-dark {
    p {
    color: $fontcolor-dark;
    }
}

.footer {
    background: $background-4;
}

#textlogo {
    color: $fontcolor-yellow;
}

#inputbudget {
    width: 80px;
}

.custom-control {
    label {
        color: $fontcolor-dark;
    }
}

.align-12 {
    text-align: center;
}

#signupButton {
    color: $fontcolor-blue;
}
