$fontcolor-yellow: #dddd21fd;
$fontcolor-blue: #5383ecfd;
$fontcolor-dark: #29333b;
$background-1: #29333b;
$background-2: #A1B5D8;
$background-3: #FFFCF7;
$background-4: #E4F0D0;
$background-5: #C2D8B9;

.navbar-dark {
    background-color: $background-1;
}

.jumbotron {
    background: $background-2;
    padding: 10px;
}

.navbar-brand {
    img {
        max-height: 30px;
        max-width: 30px;
    }
}

.input-group-prepend {
    span,label {
        background-color: $background-2;
    }
}
.input-group-append {
    span,label {
        background-color: $background-2;
    }
}

.footer {
    background: $background-5;
    padding: 10px;
    p {
        color: $fontcolor-dark;
    }
    img {
        max-height: 140px;
        max-width: 140px;
    }
}

.text-dark {
    p, h1, h2, h3, h4, h5 {
    color: $fontcolor-dark;
    }
}


#textlogo {
    color: $fontcolor-yellow;
}

#inputbudget {
    width: 80px;
}

.custom-control {
    label {
        color: $fontcolor-dark;
    }
}

.align-12 {
    text-align: center;
}

#signupButton {
    color: $fontcolor-blue;
}

.principal-container {
    padding: 0px;
    background: $background-3;
}

.media {
    img {
        height: 200px;
        width: 250px;
        border: 0px;
    }
    #carouselExampleControls {
        height: 200px;
        width: 250px;
        margin: 10px;
    }
}

.vertical-line {
    border-left: 2px solid;
    height: 150px;
    border-color: #A1B5D8;
}

.marginbottom35 {
    margin-bottom: 35px;
}
.margintop5 {
    margin-top: 5px;
}

.pagination {
    a {
        background: $background-3;
    }
}